<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5968051064410418"
     crossorigin="anonymous"></script>
    <script type='text/javascript' src='//pl22497708.profitablegatecpm.com/ec/ba/e4/ecbae40dc129bf6082541825157b1150.js'></script>
    <script type="text/javascript">
	atOptions = {
		'key' : 'a76afa5532d7922b08b7bdc302987172',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/a76afa5532d7922b08b7bdc302987172/invoke.js"></scr' + 'ipt>');
</script>
</head>
<body>
<main class="main">
    <header class="nav__bar">
        <img class="icon" src="/static/icon.svg"><span class="nav__title"> General Quiz</span>
        <a class="nav__link {{'nav__link-current' if request.path == url_for('homepage') }}" href="{{ url_for('homepage') }}">
            Homepage
        </a>
        <script type='text/javascript' src='//pl22497708.profitablegatecpm.com/ec/ba/e4/ecbae40dc129bf6082541825157b1150.js'></script>
        <a class="nav__link {{'nav__link-current' if request.path == url_for('contact') }}" href="{{ url_for('contact') }}">
            Contact
        </a>
        <a class="nav__link {{'nav__link-current' if request.path == url_for('login') }}" href="{{ url_for('login') }}">
            Login
        </a>

    </header>
</main>
    <script type='text/javascript' src='//pl22497708.profitablegatecpm.com/ec/ba/e4/ecbae40dc129bf6082541825157b1150.js'></script>
        <script type="text/javascript">
	atOptions = {
		'key' : 'a76afa5532d7922b08b7bdc302987172',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/a76afa5532d7922b08b7bdc302987172/invoke.js"></scr' + 'ipt>');
</script>
{% block content %}
{% endblock %}
</body>
</html>
